@media screen and (min-width: 600px) {
  .nav-container,
  .personal-text-img-section,
  .fitnessforyou-section,
  //.training-container,
  .friends-images-container {
    max-width: 800px;
    margin: auto;
  }

  // Hero Section
  .streletics-header {
    .hero-image {
      height: 50vh;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .streletics-header .headlines-container {
    align-items: flex-start;
    height: 0px;
  }

  // Motivational text under Streletics header
  .personal-text-img-section {
    margin-top: 17vh !important;

    p {
      max-width: 600px;
      margin: auto;
    }
  }

  // FITNESS FOR YOU
  .fitnessforyou-section .training-explanations {
    margin: 0;
  }

  // Lass Uns Freunde Sein!
  .friends-images-container {
    //max-width: 650px;
    margin: 5vh auto !important;
  }
  .lets-be-friends-container .friends-motivational-text {
    max-width: 650px;
    margin: auto;
    .friends-p #friends-apostroph-left {
      top: -12px;
      left: 0px;
      transform: rotate(0deg);
    }
    .friends-p #friends-apostroph-right {
      bottom: -15px;
      right: 62px;
    }
  }

  // SECTION COURSES
  .section-courses {
    background: none;

    .courses-header {
      padding-bottom: 2vh;
    }
  }
  .training-courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    max-width: 1300px;
    margin: auto;

    .training-container .training-header {
      text-align: center;

      h2 {
        margin: 4vh 0 2vh;
      }
    }
  }

  // KONTAKT SECTION
  .contact-container {
    margin-top: 9vh;
  }
  .contact-svg-background {
    transform: translateY(-9vh);
  }

  // Mobile Navbar
  .toggle-navbar-container {
    display: none;
  }
}
