// Navbar
.nav {
  min-height: 7vh;
  background-color: $navblack;
  min-width: 100vw;
  display: flex;
  align-items: center;

  .nav-container {
    //min-height: 100%;
    min-width: 100vw;
    margin: auto;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      width: 50px;
      height: 4vh;
      background: url("/Images/Streletics-Logo.svg") center no-repeat;
    }
    .nav-streletics {
      color: rgb(206, 206, 206);
      font-family: $montserrat;
      font-weight: lighter;
      font-size: $navtext;
      letter-spacing: 0.4em;
    }
    .nav-burger {
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .burger-line {
        width: 30px;
        height: 2px;
        background: white;
        border-radius: 1ch;
        margin: 2px 0;
      }
    }
  }
}

//Hero Image
.streletics-header {
  min-width: 100vw;
  min-height: 100vh;
  background: $backgroundlightblue;
  padding-bottom: 5vh;

  // Heroimage of Jana
  .hero-image {
    img {
      width: 100%;
      min-height: 10vh;
      object-fit: contain;
    }
  }

  // Streletics header
  .headlines-container {
    display: flex;
    height: 100%;
    justify-content: center;
    transform: translateY(-33px);
    align-items: flex-end;
  }
  .headlines {
    h1 {
      font-size: 50px;
      color: $winered;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: $montserrat;
    }
    h2 {
      font-size: 20px;
      color: black;
      margin: -12px 0 10px;
    }
    #schnupperwoche-probieren {
      background-color: $buttonred;
      border: none;
      border-radius: 1ch;
      padding: 4px 40px;
      h4 {
        font-size: $p;
        color: white;
      }
    }
  }
}

// Personal text and image with an autograph
.personal-text-img-section {
  margin: 0 7vw 5vh;

  p {
    text-align: center;
    margin: 2vh 0 4vh;
    font-size: $p;
    font-weight: 100;
  }

  img {
    max-width: 200px;
    margin: 3vh 0 0;
  }
  .img-autograph {
    h5 {
      font-family: $mrdehaviland;
      font-size: $autograph;
      font-weight: 100;
      transform: translateY(-50px) translateX(170px) rotate(-45deg);
      transform-origin: left;
      position: absolute;
    }
  }
}

// Fitness For You and training explanation section, with light blue background
.fitnessforyou-section {
  h2 {
    font-family: $montserrat;
    font-size: $h3;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  .training-explanations {
    margin: 0 7vw;
    .traininginfo-container {
      margin: 2vh 0;

      h3 {
        font-family: $montserrat;
        font-size: $h4;
        font-weight: 600;
      }
      p {
        font-size: $p;
      }
    }
  }
}

// Trainiering macht spaß! section
.training-is-fun-section {
  min-height: 40vh;
  text-align: center;
  padding: 2vh 0;

  .personaltraining-btn {
    border: none;
    background: $buttondarkblue;
    padding: 5px 15px;
    font-family: $montserrat;
    margin-bottom: 12vh;
  }
  h4 {
    font-family: $mrdehaviland;
    font-weight: 100;
    transform: rotate(-15deg);
    text-align: center;
    display: inline-block;
    font-size: $autograph2;
  }
}

// section-courses
.section-courses {
  background-color: $coursered;
  min-height: 100vh;

  .courses-header {
    text-align: center;
    font-size: $h2;
    font-family: $montserrat;
    text-decoration: underline;
    padding: 2vh 0 0;
  }
}

.training-container {
  padding-bottom: 7vh;
  h2 {
    font-size: $h3;
    background-color: $winered;
    display: inline-block;
    margin: 4vh 0 2vh 7vw;
    text-decoration: underline;
    color: white;
    font-family: $montserrat;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .training-img-background-container {
    .img-background {
      background: url("../Images/bryggan-tele-grey.jpg");
      width: 100vw;
      height: 180px;
      background-size: cover;
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
    }
    .img-profile {
      max-width: 230px;
      height: 180px;
      object-fit: cover;
      margin: 70px 0;
      border-radius: 50%;
    }
  }
}

// Intro-Text under the profileimage of courses
.course-description {
  width: 80vw;
  max-width: 250px;
  margin: auto;
  h4 {
    font-size: $h4;
    color: $winered;
  }
  p {
    font-size: $p;
    padding-top: 3px;
  }
}

// Which days and which activities are there?
.course-schedule-container {
  padding: 30px 7vw 0 7vw;
  min-height: 10vh;

  h4 {
    font-size: $h4;
    color: $winered;
    margin: 3px 0;
  }
  p {
    font-size: $p;
  }

  .course-activities-container {
    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    margin-bottom: 5px;
  }
}

// Courses Jugendliche
#jugendliche {
  background-color: $courseturkis;
  h2 {
    background: $turkis;
    text-shadow: 1px 1px 1px rgb(62, 62, 62);
  }

  h4 {
    color: $turkis;
    text-shadow: 1px 1px 1px rgb(62, 62, 62);
  }
}

// Courses Senioren
#senioren {
  background-color: $coursegold;
  h2 {
    background: $gold;
  }

  h4 {
    color: $gold;
  }
}

// Personaltraining
#personaltraining {
  background-color: $courseblue;
  h2 {
    background: $blue;
  }

  h4 {
    color: $blue;
    font-size: $h4;
  }

  p {
    font-size: $p;
  }

  .OneOnOne-gridbox {
    display: grid;
  }

  .training-img-background-container {
    grid-area: 1 / 1 / 4 / 2;

    .one-contact-container {
      display: flex;
      //flex-direction: column;
      justify-content: center;
    }

    #one-img-background {
      justify-content: start;

      position: absolute;
    }
    .img-profile {
      max-width: 50vw;
      border-radius: 0 50% 50% 0;
    }
  }

  .OneOnOne-contact {
    padding-top: 280px;
  }

  .OneOnOne-activities {
    grid-area: 2 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
  }
}

// Lass Uns Freunde Sein!
.lets-be-friends-container {
  background: $backgroundlightblue;
  min-height: 50vh;
  width: 100vw;

  .friends-header {
    text-align: center;

    h2 {
      font-size: $h2small;
      padding: 4vh 0 1vh;
      font-family: $montserrat;
      font-weight: 500;
    }
    p {
      font-size: $p;
    }
  }

  .friends-images {
    height: 15vh;
  }

  .friends-motivational-text {
    margin: 0 7vw;

    .friends-apostroph {
      font-size: $h2;
      font-family: $passionone;
    }
  }
}
