// Navbar
.nav {
  min-height: 7vh;
  background-color: $navblack;
  min-width: 100vw;
  display: flex;
  align-items: center;

  .nav-container {
    //min-height: 100%;
    min-width: 100vw;
    margin: auto;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      width: 50px;
      height: 4vh;
      background: url("/Images/Streletics-Logo.svg") center no-repeat;
    }
    .nav-streletics {
      color: rgb(206, 206, 206);
      font-family: $montserrat;
      font-weight: lighter;
      font-size: $navtext;
      letter-spacing: 0.4em;
    }
    .nav-burger {
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .burger-line {
        width: 30px;
        height: 2px;
        background: white;
        border-radius: 1ch;
        margin: 2px 0;
      }
    }
  }
}

//Hero Image
.streletics-header {
  min-width: 100vw;
  min-height: 100vh;
  background: $backgroundlightblue;
  padding-bottom: 5vh;

  // Heroimage of Jana
  .hero-image {
    img {
      width: 100%;
      min-height: 10vh;
      object-fit: contain;
    }
  }

  // Streletics header
  .headlines-container {
    display: flex;
    height: 100%;
    justify-content: center;
    transform: translateY(-33px);
    align-items: flex-end;
  }
  .headlines {
    h1 {
      font-size: 50px;
      color: $winered;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: $montserrat;
    }
    h2 {
      font-size: 20px;
      color: black;
      margin: -12px 0 10px;
    }
    #schnupperwoche-probieren {
      background-color: $buttonred;
      border: none;
      border-radius: 1ch;
      padding: 4px 40px;
      h4 {
        font-size: $p;
        color: white;
      }
    }
  }
}

// Personal text and image with an autograph
.personal-text-img-section {
  margin: 0 7vw 5vh;

  p {
    text-align: center;
    margin: 2vh 0 4vh;
    font-size: $p;
    font-weight: 100;
  }

  img {
    max-width: 200px;
    margin: 3vh 0 0;
  }
  .img-autograph {
    h5 {
      font-family: $mrdehaviland;
      font-size: $autograph;
      font-weight: 100;
      transform: translateY(-50px) translateX(170px) rotate(-45deg);
      transform-origin: left;
      position: absolute;
    }
  }
}

// Fitness For You and training explanation section, with light blue background
.fitnessforyou-section {
  h2 {
    font-family: $montserrat;
    font-size: $h3;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  .training-explanations {
    margin: 0 7vw;
    .traininginfo-container {
      margin: 2vh 0;

      h3 {
        font-family: $montserrat;
        font-size: $h4;
        font-weight: 600;
      }
      p {
        font-size: $p;
      }
    }
  }
}

// Trainiering macht spaß! section
.training-is-fun-section {
  min-height: 40vh;
  text-align: center;
  padding: 2vh 0;

  .personaltraining-btn {
    border: none;
    background: $buttondarkblue;
    padding: 5px 15px;
    font-family: $montserrat;
    margin-bottom: 11vh;
  }
  h4 {
    font-family: $mrdehaviland;
    font-weight: 100;
    //transform-origin: left;
    transform: rotate(-15deg);
    text-align: center;
    display: inline-block;
    font-size: $autograph2;
  }
}

// section-courses
.section-courses {
  background-color: $coursered;

  h2 {
    text-align: center;
    font-size: $h1;
    font-family: $montserrat;
    text-decoration: underline;
  }
}
