// Navbar
.nav {
  min-height: 7vh;
  background-color: $navblack;
  min-width: 100vw;
  display: flex;
  align-items: center;

  .nav-container {
    //min-height: 100%;
    min-width: 100vw;
    margin: auto;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      width: 50px;
      height: 4vh;
      background: url("/Images/Streletics-Logo.svg") center no-repeat;
    }
    .nav-streletics {
      color: rgb(206, 206, 206);
      font-family: $montserrat;
      font-weight: lighter;
      font-size: $navtext;
      letter-spacing: 0.4em;
    }
    .nav-burger {
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .burger-line {
        width: 30px;
        height: 2px;
        background: white;
        border-radius: 1ch;
        margin: 2px 0;
      }
    }
  }
}

//Hero Image
.streletics-header {
  min-width: 100vw;
  min-height: 100vh;
  background: $backgroundlightblue;

  // Heroimage of Jana
  .hero-image {
    // background: url("../Images/bryggan-tele.jpg") bottom center no-repeat;
    // background-size: contain;
    // height: 50vh;
    // max-width: 100vw;

    img {
      width: 100%;
      min-height: 10vh;
      object-fit: contain;
    }
  }

  // Streletics header
  .headlines-container {
    display: flex;
    height: 100%;
    justify-content: center;
    transform: translateY(-33px);
    align-items: flex-end;
  }
  .headlines {
    h1 {
      font-size: 50px;
      color: $winered;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: $montserrat;
    }
    h2 {
      font-size: 20px;
      color: black;
      margin: -12px 0 10px;
    }
    #schnupperwoche-probieren {
      background-color: $buttonred;
      border: none;
      border-radius: 1ch;
      padding: 4px 40px;
      h4 {
        font-size: 15px;
        color: white;
      }
    }
  }
}

// Fitness For You section, with light blue background
