// Fonts
// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Mr De Haviland', cursive;
$navtext: calc(1rem + 0.5vw);
$h1: calc(3.7rem + 4vw);
$h2: calc(2rem + 2vw);
$h3: calc(1.1rem + 1.5vw);
$h4: calc(1.1rem + 0.2vw);
$p: calc(1rem + 0.2vw);
$link: calc(1.2em + 0.2vw);
$autograph: calc(3rem + 1vw);

// COLOS
$navblack: #1c1a2f;
$backgroundlightblue: #d0e0ed;
$winered: #701010;
$gold: #c2961d;
$turkis: #03fcec;
$blue: #0031de;
$buttonred: #eb2525;
$buttondarkblue: #a5b3be;
$coursered: #fff8f8;
$courseturkis: #f9fffe;
$coursegold: #fffbf4;
$courseblue: #f3f7ff;
$schnupperwochered: #a42f2f;
$montserrat: "Montserrat", sans-serif;
$sourcesanspro: "Source Sans Pro", sans-serif;
$mrdehaviland: "Mr De Haviland", cursive;

@import "global";
@import "index";
