* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.55%;
}

.nav {
  padding: 1vh 0;
  min-height: 8vh;
  background-color: #562436;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-computer {
  display: none;
}

.nav .nav-container {
  width: 100vw;
  margin: auto;
  padding: 0 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-container .nav-logo {
  width: 55px;
  height: 8vh;
}

.nav .nav-container .nav-logo img {
  width: 100%;
  height: 100%;
}

.nav .nav-container .nav-streletics {
  color: #cecece;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: calc(1rem + 0.5vw);
  letter-spacing: 0.4em;
}

.nav .nav-container .nav-burger {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .nav-container .nav-burger .burger-line {
  width: 30px;
  height: 2px;
  background: white;
  border-radius: 1ch;
  margin: 2px 0;
}

.toggle-navbar-container {
  -webkit-transform: translateX(105vw);
          transform: translateX(105vw);
  min-width: 100vw;
  min-height: 100vh;
  background: #562436;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle-navbar-container .close-navbar {
  position: absolute;
  top: 5vh;
  right: 9vw;
  padding: 20px 10px;
}

.toggle-navbar-container .close-navbar .close-navbar-line-one,
.toggle-navbar-container .close-navbar .close-navbar-line-two {
  width: 30px;
  height: 1px;
  border-radius: 2ch;
  background-color: white;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.toggle-navbar-container .close-navbar .close-navbar-line-one {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle-navbar-container .close-navbar .close-navbar-line-two {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.toggle-navbar-container .toggle-navbar-links {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-navbar-container .toggle-navbar-links a {
  color: white;
  font-size: calc(1.1rem + 0.5vw);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  width: 100vw;
  text-align: center;
}

.toggle-navbar-container .toggle-navbar-links a:nth-child(2) {
  color: #ff9292;
}

.streletics-header {
  max-width: 100vw;
  min-height: 100vh;
  background: #d0e0ed;
  padding-bottom: 5vh;
}

.streletics-header .hero-image img {
  width: 100%;
  min-height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.streletics-header .headlines-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.streletics-header .headlines h1 {
  font-size: 50px;
  color: #701010;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.streletics-header .headlines h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  font-family: "Mr De Haviland", cursive;
  color: black;
  margin: -12px 0 10px;
}

.streletics-header .headlines #schnupperwoche-probieren {
  display: none;
  border: none;
}

.streletics-header .headlines #schnupperwoche-probieren a {
  background-color: #eb2525;
  border-radius: 1ch;
  padding: 7px 40px;
  font-size: calc(1.2rem + 0.5vw);
  color: white;
  text-decoration: none;
}

.streletics-header .headlines #schnupperwoche-probieren a:hover {
  cursor: pointer;
  background-color: #f91717;
}

.streletics-header .schnupperwoche-container {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vh 7vw;
  background: white;
  margin: 30px 0 50px;
}

.streletics-header .schnupperwoche-container .schnupperwoche-info {
  height: 100%;
  text-align: center;
}

.streletics-header .schnupperwoche-container .schnupperwoche-info h2 {
  font-size: calc(1.8rem + 2vw);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #c2961d;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
}

.streletics-header .schnupperwoche-container .schnupperwoche-info p {
  margin: auto;
  font-size: calc(1.2rem + 0.5vw);
  padding: 1vh 0 2vh;
  font-weight: 500;
}

.streletics-header .schnupperwoche-container .schnupperwoche-info a {
  color: white;
  background: #eb2525;
  border-radius: 2ch;
  border: none;
  font-size: calc(1.1rem + 0.5vw);
  font-family: "Montserrat", sans-serif;
  padding: 1vh 6vw;
  text-decoration: none;
}

.streletics-header .schnupperwoche-container .schnupperwoche-info a:hover {
  background: #ff2a2a;
}

.personal-text-img-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 7vw 5vh;
}

.personal-text-img-section p {
  text-align: center;
  margin: 2vh 0 4vh;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 100;
}

.personal-text-img-section img {
  max-width: 200px;
  margin: 3vh 0 0;
}

.personal-text-img-section .img-autograph h5 {
  font-family: "Mr De Haviland", cursive;
  font-size: calc(3rem + 1vw);
  font-weight: 100;
  -webkit-transform: translateY(-50px) translateX(170px) rotate(-45deg);
          transform: translateY(-50px) translateX(170px) rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  position: absolute;
}

.about-me-section {
  padding: 0vh 7vw 4vh;
}

.about-me-section h2 {
  font-size: calc(1.5rem + 2vw);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.about-me-section p {
  font-size: calc(1.2rem + 0.5vw);
  text-align: start;
  margin-top: 1vh;
}

.fitnessforyou-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1.5rem + 2vw);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 3vh 0;
}

.fitnessforyou-section .training-explanations {
  margin: 0 7vw;
}

.fitnessforyou-section .training-explanations .traininginfo-container {
  margin: 4vh 0;
}

.fitnessforyou-section .training-explanations .traininginfo-container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1.5rem + 0.2vw);
  font-weight: 600;
}

.fitnessforyou-section .training-explanations .traininginfo-container p {
  font-size: calc(1.2rem + 0.5vw);
}

.fitnessforyou-section .training-explanations .HIIT {
  margin-top: -1vh;
}

.training-is-fun-section {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.training-is-fun-section h4 {
  font-family: "Mr De Haviland", cursive;
  font-weight: 100;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  font-size: calc(3.5rem + 1.5vw);
}

.section-courses {
  background-color: #fff8f8;
  min-height: 100vh;
}

.section-courses .courses-header {
  text-align: center;
  font-size: calc(2rem + 2vw);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  padding: 2vh 0 0;
}

.training-container {
  padding-bottom: 7vh;
}

.training-container h2 {
  font-size: calc(1.1rem + 0.5vw);
  display: inline-block;
  margin: 4vh 0 2vh 7vw;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.training-container .training-img-background-container {
  position: relative;
}

.training-container .training-img-background-container .img-background {
  width: 100%;
  height: 180px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.training-container .training-img-background-container #erwachsene-background {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../Images/erwachsene.jpg") center no-repeat;
  background: linear-gradient(black, black), url("../Images/erwachsene.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  background-position-y: 40%;
}

.training-container .training-img-background-container #jugendliche-background {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../Images/jugendliche.jpg") center no-repeat;
  background: linear-gradient(black, black), url("../Images/jugendliche.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  background-position-y: 40%;
}

.training-container .training-img-background-container #senior-background {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../Images/senioren.jpg") center no-repeat;
  background: linear-gradient(black, black), url("../Images/senioren.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  background-position-y: 40%;
}

.training-container .training-img-background-container #personaltraining-background {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../Images/personaltraining.jpg") center no-repeat;
  background: linear-gradient(black, black), url("../Images/personaltraining.jpg") center no-repeat;
  background-size: cover;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-blend-mode: saturation;
  position: absolute;
  top: 0;
  left: 0;
  background-position-y: 20%;
}

.training-container .training-img-background-container .img-profile {
  max-width: 230px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 70px 0;
  border-radius: 50%;
}

.course-schedule-container {
  padding: 0 7vw 0 7vw;
  min-height: 10vh;
}

.course-schedule-container h4 {
  font-size: calc(1.5rem + 0.2vw);
  color: #701010;
  margin: 3px 0;
}

.course-schedule-container p {
  font-size: calc(1.2rem + 0.5vw);
}

.course-schedule-container .course-activities-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 3vw;
  margin-bottom: 5px;
}

.course-schedule-container .course-activities-container .course-times p {
  min-width: 80px;
  text-align: end;
}

#erwachsene {
  background-color: #fff8f8;
}

#erwachsene h2 {
  color: #701010;
}

#jugendliche {
  background-color: #f9fffe;
}

#jugendliche h2,
#jugendliche h4 {
  color: #03fcec;
  text-shadow: 1px 1px 1px #3e3e3e;
}

#senioren {
  background-color: #fffbf4;
}

#senioren h2,
#senioren h4 {
  color: #c2961d;
}

#personaltraining {
  background-color: #f3f7ff;
}

#personaltraining h2 {
  color: #0031de;
}

#personaltraining h4 {
  color: #0031de;
  font-size: calc(1.5rem + 0.2vw);
}

#personaltraining p {
  font-size: calc(1.2rem + 0.5vw);
}

#personaltraining .training-img-background-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 4 / 3;
}

#personaltraining .training-img-background-container .img-profile {
  max-width: 50%;
  border-radius: 0 50% 50% 0;
}

#personaltraining .OneOnOne-activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 280px 7vw 0;
}

.lets-be-friends-container {
  background: #d0e0ed;
  min-height: 50vh;
  max-width: 100vw;
  padding-bottom: 5vh;
}

.lets-be-friends-container .friends-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lets-be-friends-container .friends-header h2 {
  font-size: calc(1.5rem + 2vw);
  padding: 4vh 0 1vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

.lets-be-friends-container .friends-header a {
  font-size: calc(1.2rem + 0.5vw);
  color: black;
  text-decoration: none;
}

.lets-be-friends-container .friends-header a:hover {
  color: #701010;
}

.lets-be-friends-container .friends-images-container {
  width: 100%;
  min-height: 25vh;
  margin: 5vh 0 7vh;
  padding: 0 4vw;
}

.lets-be-friends-container .friends-images-container .friends-images {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.lets-be-friends-container .friends-images-container .friends-images .friends-img img {
  width: 100%;
  border: 3px solid white;
}

.lets-be-friends-container .friends-images-container .friends-images .friends-img-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  -webkit-transform: rotate(-2.5deg) translateX(15px);
          transform: rotate(-2.5deg) translateX(15px);
}

.lets-be-friends-container .friends-images-container .friends-images .friends-img-two {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  -webkit-transform: rotate(10deg) translateY(40px) translateX(-15px);
          transform: rotate(10deg) translateY(40px) translateX(-15px);
}

.lets-be-friends-container .friends-images-container .friends-images .friends-img-three {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  -webkit-transform: rotate(-10deg) translateY(20px) translateX(-15px);
          transform: rotate(-10deg) translateY(20px) translateX(-15px);
}

.lets-be-friends-container .friends-motivational-text {
  margin: 4vh 7vw;
  padding: 0 20px;
}

.lets-be-friends-container .friends-motivational-text .friends-p {
  font-size: calc(1.2rem + 0.5vw);
  position: relative;
  text-align: center;
}

.lets-be-friends-container .friends-motivational-text .friends-p .friends-apostroph {
  font-size: calc(1.2rem + 1vw);
  font-family: "Passion One", cursive;
}

.lets-be-friends-container .friends-motivational-text .my-motto {
  margin-top: 30px;
}

.lets-be-friends-container .friends-motivational-text .my-motto h4 {
  font-size: calc(1.5rem + 0.2vw);
  color: #0031de;
}

.lets-be-friends-container .friends-motivational-text .my-motto p {
  font-size: calc(1.2rem + 0.5vw);
}

.lets-be-friends-container .friends-images {
  height: 15vh;
}

.fitness-dance-video-container {
  max-width: 100vw;
  min-height: 60vh;
  max-height: 30vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../Images/erwachsene.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../Images/erwachsene.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fitness-dance-video-container .fitness-dance-header {
  text-align: center;
}

.fitness-dance-video-container .fitness-dance-header h2 {
  text-transform: uppercase;
  color: white;
  font-size: calc(2rem + 2vw);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2vh;
}

.fitness-dance-video-container .fitness-dance-header a {
  color: black;
  background: #03fcec;
  border-radius: 2ch;
  border: none;
  font-size: calc(1.1rem + 0.5vw);
  font-family: "Montserrat", sans-serif;
  padding: 1vh 6vw;
  text-decoration: none;
}

.fitness-dance-video-container .fitness-dance-header a:hover {
  background: #68fff5;
}

.contact-svg-background {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100vw;
  min-height: 5vh;
  z-index: 1;
  -webkit-transform: translateY(-4vh);
          transform: translateY(-4vh);
}

.contact-container {
  position: relative;
  background: #701010;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vh 7vw 8vh;
}

.contact-container .contact-header {
  z-index: 2;
}

.contact-container .contact-header h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: calc(2rem + 2vw);
  font-weight: 100;
  color: #e2e2e2;
}

.contact-container .contact-information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4vh;
  font-family: "Montserrat", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.contact-container .contact-information-container a {
  font-weight: 100;
  font-size: calc(1.2rem + 0.5vw);
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

.contact-container .contact-information-container .contact-info-one,
.contact-container .contact-information-container .contact-info-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 10vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-container .contact-information-container .contact-info-one a,
.contact-container .contact-information-container .contact-info-two a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .contact-information-container .contact-info-one a span,
.contact-container .contact-information-container .contact-info-two a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 7px 3px 0;
}

.contact-container .contact-information-container .contact-info-one a img,
.contact-container .contact-information-container .contact-info-two a img {
  width: 25px;
  height: 25px;
}

.contact-container .contact-information-container .contact-info-two {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-container .contact-information-container .contact-info-two a {
  text-decoration: none;
  padding: 5px 0;
}

.contact-container .contact-information-container .contact-info-two a:nth-child(2) {
  text-decoration: underline;
}

.toggle-navbar-container-active {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.stop-scroll {
  overflow-y: hidden;
}

@media screen and (min-width: 600px) {
  .nav-container,
  .personal-text-img-section,
  .fitnessforyou-section,
  .about-me-section,
  .friends-images-container {
    max-width: 900px;
    margin: auto;
  }
  .nav .nav-container {
    display: none;
  }
  .nav .nav-computer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-computer-links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav-computer-links-container .nav-logo {
    width: 70px;
    height: 10vh;
  }
  .nav-computer-links-container .nav-logo img {
    width: 100%;
    height: 100%;
  }
  .nav-computer-links-container a {
    color: #ededed;
    font-size: calc(1rem + 0.5vw);
    text-decoration: none;
  }
  .nav-computer-links-container a:hover {
    color: white;
  }
  .nav-computer-links-container a:nth-child(3) {
    color: #ff9292;
  }
  .streletics-header .hero-image {
    height: 50vh;
  }
  .streletics-header .hero-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .streletics-header .schnupperwoche-container {
    min-height: 30vh;
    margin: 150px 0 50px;
  }
  .streletics-header .headlines-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 0px;
    -webkit-transform: translateY(-72px);
            transform: translateY(-72px);
  }
  .streletics-header .headlines-container h1 {
    font-size: calc(3.7rem + 4vw);
  }
  .streletics-header .headlines-container h2 {
    font-size: calc(3.2rem + 1.5vw);
  }
  .personal-text-img-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 5vh;
    padding: 0 7vw;
  }
  .personal-text-img-section .img-autograph img {
    max-width: 250px;
  }
  .personal-text-img-section .img-autograph h5 {
    -webkit-transform: translateY(-50px) translateX(215px) rotate(-45deg);
            transform: translateY(-50px) translateX(215px) rotate(-45deg);
  }
  .personal-text-img-section .motivational-text-beginning {
    margin: 5vh 0 0 10vw;
  }
  .friends-images-container {
    margin: 5vh auto !important;
    max-width: 900px;
  }
  .lets-be-friends-container .friends-motivational-text {
    max-width: 650px;
    margin: 6vh auto 4vh;
  }
  .section-courses {
    background: none;
  }
  .section-courses .courses-header {
    padding-bottom: 2vh;
  }
  .training-courses-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    max-width: 1200px;
    margin: auto;
  }
  .training-courses-container .training-container .training-header {
    text-align: center;
  }
  .training-courses-container .training-container .training-header h2 {
    margin: 4vh 0 2vh;
  }
  .training-courses-container .training-container .course-schedule-container {
    padding: 30px 50px 0;
    min-height: 10vh;
  }
  .training-courses-container .training-container .course-schedule-container .course-activities-container {
    padding-left: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .training-courses-container .training-container .course-schedule-container .course-activities-container:hover {
    text-shadow: 0.8px 0px 0px black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .training-courses-container #personaltraining .OneOnOne-activities {
    padding: 280px 50px 0;
  }
  .contact-container .contact-information-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact-svg-background {
    -webkit-transform: translateY(-9vh);
            transform: translateY(-9vh);
  }
  .toggle-navbar-container {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .personal-text-img-section {
    padding: 0;
  }
}

@media screen and (min-width: 1400px) {
  .streletics-header .hero-image {
    height: 62vh;
  }
  .streletics-header .schnupperwoche-container {
    margin: 200px 0px 50px;
  }
}
/*# sourceMappingURL=style.css.map */