* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.55%;
}

.nav {
  min-height: 8vh;
  background-color: #3f202b;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-container {
  width: 100vw;
  margin: auto;
  padding: 0 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-container .nav-logo {
  width: 50px;
  height: 5vh;
  background: radial-gradient(circle, #572c2c 0%, #3f2020 50%, #3f2020 100%);
}

.nav .nav-container .nav-logo img {
  width: 100%;
  height: 100%;
}

.nav .nav-container .nav-streletics {
  color: #cecece;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: calc(1rem + 0.5vw);
  letter-spacing: 0.4em;
}

.nav .nav-container .nav-burger {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .nav-container .nav-burger .burger-line {
  width: 30px;
  height: 2px;
  background: white;
  border-radius: 1ch;
  margin: 2px 0;
}

.toggle-navbar-container {
  -webkit-transform: translateX(105vw);
          transform: translateX(105vw);
  min-width: 100vw;
  min-height: 100vh;
  background: #3f202b;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle-navbar-container .close-navbar {
  position: absolute;
  top: 5vh;
  right: 9vw;
  padding: 20px 10px;
}

.toggle-navbar-container .close-navbar .close-navbar-line-one,
.toggle-navbar-container .close-navbar .close-navbar-line-two {
  width: 30px;
  height: 1px;
  border-radius: 2ch;
  background-color: white;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.toggle-navbar-container .close-navbar .close-navbar-line-one {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle-navbar-container .close-navbar .close-navbar-line-two {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.toggle-navbar-container .toggle-navbar-links {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-navbar-container .toggle-navbar-links a {
  color: white;
  font-size: calc(1.1rem + 1.5vw);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  width: 100vw;
  text-align: center;
}

.streletics-header {
  max-width: 100vw;
  min-height: 100vh;
  background: #d0e0ed;
  padding-bottom: 5vh;
}

.streletics-header .hero-image img {
  width: 100%;
  min-height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.streletics-header .headlines-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.streletics-header .headlines h1 {
  font-size: 50px;
  color: #701010;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.streletics-header .headlines h2 {
  font-size: 20px;
  color: black;
  margin: -12px 0 10px;
}

.streletics-header .headlines #schnupperwoche-probieren {
  border: none;
}

.streletics-header .headlines #schnupperwoche-probieren a {
  background-color: #eb2525;
  border-radius: 1ch;
  padding: 7px 40px;
  font-size: calc(1.15rem + 0.2vw);
  color: white;
  text-decoration: none;
}

.streletics-header .headlines #schnupperwoche-probieren:hover {
  cursor: pointer;
  background-color: #f74a4a;
}

.personal-text-img-section {
  margin: 0 7vw 5vh;
}

.personal-text-img-section p {
  text-align: center;
  margin: 2vh 0 4vh;
  font-size: calc(1.15rem + 0.2vw);
  font-weight: 100;
}

.personal-text-img-section img {
  max-width: 200px;
  margin: 3vh 0 0;
}

.personal-text-img-section .img-autograph h5 {
  font-family: "Mr De Haviland", cursive;
  font-size: calc(3rem + 1vw);
  font-weight: 100;
  -webkit-transform: translateY(-50px) translateX(170px) rotate(-45deg);
          transform: translateY(-50px) translateX(170px) rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  position: absolute;
}

.fitnessforyou-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1.1rem + 1.5vw);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 3vh 0;
}

.fitnessforyou-section .training-explanations {
  margin: 0 7vw;
}

.fitnessforyou-section .training-explanations .traininginfo-container {
  margin: 4vh 0;
}

.fitnessforyou-section .training-explanations .traininginfo-container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1.5rem + 0.2vw);
  font-weight: 600;
}

.fitnessforyou-section .training-explanations .traininginfo-container p {
  font-size: calc(1.15rem + 0.2vw);
}

.fitnessforyou-section .training-explanations .HIIT {
  margin-top: -1vh;
}

.training-is-fun-section {
  min-height: 40vh;
  text-align: center;
  padding: 2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.training-is-fun-section .personaltraining-btn {
  border: none;
  margin-bottom: 12vh;
  display: inline;
}

.training-is-fun-section .personaltraining-btn a {
  background: #a5b3be;
  padding: 5px 15px;
  color: black;
  text-decoration: none;
}

.training-is-fun-section .personaltraining-btn:hover {
  cursor: pointer;
}

.training-is-fun-section h4 {
  font-family: "Mr De Haviland", cursive;
  font-weight: 100;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  text-align: center;
  display: inline-block;
  font-size: calc(3.5rem + 1vw);
}

.section-courses {
  background-color: #fff8f8;
  min-height: 100vh;
}

.section-courses .courses-header {
  text-align: center;
  font-size: calc(2rem + 2vw);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  padding: 2vh 0 0;
}

.training-container {
  padding-bottom: 7vh;
}

.training-container h2 {
  font-size: calc(1.1rem + 1.5vw);
  background-color: #701010;
  display: inline-block;
  margin: 4vh 0 2vh 7vw;
  text-decoration: underline;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.training-container .training-img-background-container {
  position: relative;
}

.training-container .training-img-background-container .img-background {
  width: 100%;
  height: 180px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.training-container .training-img-background-container #erwachsene-background {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../Images/erwachsene.jpg") center no-repeat;
  background: linear-gradient(black, black), url("../Images/erwachsene.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
}

.training-container .training-img-background-container #jugendliche-background {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../Images/jugendliche.jpg") center no-repeat;
  background: linear-gradient(black, black), url("../Images/jugendliche.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
}

.training-container .training-img-background-container #senior-background {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../Images/senioren.jpg") center no-repeat;
  background: linear-gradient(black, black), url("../Images/senioren.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
}

.training-container .training-img-background-container #personaltraining-background {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../Images/personaltraining.jpg") center no-repeat;
  background: linear-gradient(black, black), url("../Images/personaltraining.jpg") center no-repeat;
  background-size: cover;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-blend-mode: saturation;
  position: absolute;
  top: 0;
  left: 0;
}

.training-container .training-img-background-container .img-profile {
  max-width: 230px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 70px 0;
  border-radius: 50%;
}

.course-description {
  width: 80vw;
  max-width: 250px;
  margin: auto;
}

.course-description h4 {
  font-size: calc(1.5rem + 0.2vw);
  color: #701010;
}

.course-description p {
  font-size: calc(1.15rem + 0.2vw);
  padding-top: 3px;
}

.course-schedule-container {
  padding: 30px 7vw 0 7vw;
  min-height: 10vh;
}

.course-schedule-container h4 {
  font-size: calc(1.5rem + 0.2vw);
  color: #701010;
  margin: 3px 0;
}

.course-schedule-container p {
  font-size: calc(1.15rem + 0.2vw);
}

.course-schedule-container .course-activities-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 3vw;
  margin-bottom: 5px;
}

#jugendliche {
  background-color: #f9fffe;
}

#jugendliche h2 {
  background: #03fcec;
  text-shadow: 1px 1px 1px #3e3e3e;
}

#jugendliche h4 {
  color: #03fcec;
  text-shadow: 1px 1px 1px #3e3e3e;
}

#senioren {
  background-color: #fffbf4;
}

#senioren h2 {
  background: #c2961d;
}

#senioren h4 {
  color: #c2961d;
}

#personaltraining {
  background-color: #f3f7ff;
}

#personaltraining h2 {
  background: #0031de;
}

#personaltraining h4 {
  color: #0031de;
  font-size: calc(1.5rem + 0.2vw);
}

#personaltraining p {
  font-size: calc(1.15rem + 0.2vw);
}

#personaltraining .OneOnOne-gridbox {
  display: -ms-grid;
  display: grid;
}

#personaltraining .training-img-background-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 4 / 3;
}

#personaltraining .training-img-background-container .img-profile {
  max-width: 50%;
  border-radius: 0 50% 50% 0;
}

#personaltraining .one-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#personaltraining .OneOnOne-contact {
  padding-top: 295px;
}

#personaltraining .OneOnOne-activities {
  padding-top: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lets-be-friends-container {
  background: #d0e0ed;
  min-height: 50vh;
  max-width: 100vw;
  padding-bottom: 5vh;
}

.lets-be-friends-container .friends-header {
  text-align: center;
}

.lets-be-friends-container .friends-header h2 {
  font-size: calc(1.5rem + 2vw);
  padding: 4vh 0 1vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.lets-be-friends-container .friends-header p {
  font-size: calc(1.15rem + 0.2vw);
}

.lets-be-friends-container .friends-images-container {
  width: 100%;
  min-height: 40vh;
  margin: 5vh 0 1vh;
  padding: 0 4vw;
}

.lets-be-friends-container .friends-images-container .friends-images {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.lets-be-friends-container .friends-images-container .friends-images .friends-img img {
  width: 100%;
  border: 3px solid white;
}

.lets-be-friends-container .friends-images-container .friends-images .friends-img-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  -webkit-transform: rotate(-2.5deg) translateX(15px);
          transform: rotate(-2.5deg) translateX(15px);
}

.lets-be-friends-container .friends-images-container .friends-images .friends-img-two {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  -webkit-transform: rotate(10deg) translateY(40px) translateX(-15px);
          transform: rotate(10deg) translateY(40px) translateX(-15px);
}

.lets-be-friends-container .friends-images-container .friends-images .friends-img-three {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  -webkit-transform: rotate(-10deg) translateY(20px) translateX(-15px);
          transform: rotate(-10deg) translateY(20px) translateX(-15px);
}

.lets-be-friends-container .friends-motivational-text {
  margin: 0 7vw;
  padding: 0 20px;
}

.lets-be-friends-container .friends-motivational-text .friends-p {
  font-size: calc(1.15rem + 0.2vw);
  position: relative;
  text-align: center;
}

.lets-be-friends-container .friends-motivational-text .friends-p .friends-apostroph {
  font-size: calc(2rem + 1vw);
  font-family: "Passion One", cursive;
  position: absolute;
}

.lets-be-friends-container .friends-motivational-text .friends-p #friends-apostroph-left {
  top: -47px;
  left: -10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lets-be-friends-container .friends-motivational-text .friends-p #friends-apostroph-right {
  bottom: -45px;
  right: -10px;
}

.lets-be-friends-container .friends-images {
  height: 15vh;
}

.schnupperwoche-container {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 7vw;
  margin-bottom: 4vh;
}

.schnupperwoche-container .schnupperwoche-info {
  height: 100%;
  text-align: center;
}

.schnupperwoche-container .schnupperwoche-info h2 {
  font-size: calc(1.8rem + 2vw);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #a42f2f;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
}

.schnupperwoche-container .schnupperwoche-info p {
  max-width: 400px;
  margin: auto;
  font-size: calc(1.15rem + 0.2vw);
  padding-top: 1vh;
}

.contact-svg-background {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100vw;
  min-height: 5vh;
  z-index: -1;
  -webkit-transform: translateY(-4vh);
          transform: translateY(-4vh);
}

.contact-container {
  position: relative;
  background: #701010;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vh 7vw 8vh;
}

.contact-container .contact-header h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: calc(2rem + 2vw);
  font-weight: 100;
  color: #e2e2e2;
}

.contact-container .contact-information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 4vh;
  font-family: "Montserrat", sans-serif;
}

.contact-container .contact-information-container a {
  font-weight: 100;
  font-size: calc(1.15rem + 0.2vw);
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

.contact-container .contact-information-container .contact-info-one,
.contact-container .contact-information-container .contact-info-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
}

.contact-container .contact-information-container .contact-info-two {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.contact-container .contact-information-container .contact-info-two a {
  text-decoration: underline;
}

.toggle-navbar-container-active {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.stop-scroll {
  overflow-y: hidden;
}

@media screen and (min-width: 600px) {
  .nav-container,
  .streletics-header,
  .section-courses,
  .friends-images-container {
    max-width: 800px;
    margin: auto;
  }
  .friends-images-container {
    max-width: 650px;
    margin: 5vh auto !important;
  }
  .lets-be-friends-container .friends-motivational-text {
    max-width: 650px;
    margin: auto;
  }
  .lets-be-friends-container .friends-motivational-text .friends-p #friends-apostroph-left {
    top: -12px;
    left: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .lets-be-friends-container .friends-motivational-text .friends-p #friends-apostroph-right {
    bottom: -15px;
    right: 62px;
  }
  .contact-container {
    margin-top: 9vh;
  }
  .contact-svg-background {
    -webkit-transform: translateY(-9vh);
            transform: translateY(-9vh);
  }
  .toggle-navbar-container {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */