$navtext: calc(1rem + 0.5vw);
$h1: calc(3.7rem + 4vw);
$h2: calc(2rem + 2vw);
$h2header: calc(3.2rem + 1.5vw);
$h2small: calc(1.5rem + 2vw);
$h3: calc(1.1rem + 0.5vw);
$h4: calc(1.5rem + 0.2vw);
$p: calc(1.2rem + 0.5vw);
$link: calc(1.15em + 0.2vw);
$autograph: calc(3rem + 1vw);
$autograph2: calc(3.5rem + 1.5vw);
$apostroph: calc(1.2rem + 1vw);
$schnupperwoche2: calc(1.8rem + 2vw);

// COLORS
// $navcolor: #3f202b;
$navcolor: #562436;
$backgroundlightblue: #d0e0ed;
$winered: #701010;
$gold: #c2961d;
$turkis: #03fcec;
$blue: #0031de;
$buttonred: #eb2525;
$buttondarkblue: #a5b3be;
$coursered: #fff8f8;
$courseturkis: #f9fffe;
$coursegold: #fffbf4;
$courseblue: #f3f7ff;
$schnupperwochered: #a42f2f;
$erstetraining: #ff9292;
$montserrat: "Montserrat", sans-serif;
$sourcesanspro: "Source Sans Pro", sans-serif;
$mrdehaviland: "Mr De Haviland", cursive;
$passionone: "Passion One", cursive;

@import "global";
@import "index";
@import "computerscreen";
